<p>
    Nombre: {{ nombre }};
    Apellido: {{ apellido }};
    Edad: {{ edad }};
    <!--Edad: {{ getEdad() }};-->
</p>
<!--
<div (keyup)='0'>
    <label>Repetidor: </label>
    <input #entrada />
    {{ entrada.value }}
</div>
-->