<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de Personas</h1>
      <button
        class="btn btn-primary"
        [disabled]="deshabilitar"
        (click)="agregarPersona()"
      >
        Agregar Persona
      </button>
      <p *ngIf="mostrar; else sinPersona">
        {{ mensaje }} con el titulo de {{ titulo }}
      </p>
      <ng-template #sinPersona>No se ha agregado ninguna persona</ng-template>

      <app-persona></app-persona>

      <label>Titulo Persona</label>
      <input type="text" class="form-control" [(ngModel)]="titulo" />
      {{ titulo }}
    </div>
  </div>
</div>
