<form class="form row">
    <div class="form-group col-md-2">
      <input
        type="text"
        name="nombre"
        id="nombre"
        placeholder="Nombre"
        class="form-control"
        [(ngModel)]="nombreInput"
      />
    </div>
    <div class="form-group col-md-2">
      <input
        type="text"
        name="apellido"
        id="apellido"
        placeholder="Apellido"
        class="form-control"
        [(ngModel)]="apellidoInput"
      />
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="agregarPersona()">
        Agregar
      </button>
    </div>
  </form>