<div class="container">
  <h1>{{titulo}}</h1>
    <div class="row">
      <div class="col">
        
        <br/> 
        <label>Operador A</label>
        <input type="number" class="form-control" [(ngModel)]="valorA">
        <br/> 
        <label>Operador B</label>
        <input type="number" class="form-control" [(ngModel)]="valorB">
        <br/>                     
        <button class="btn btn-primary" (click)="sumar()" >Sumar</button>
        <br/>
        <label>El resultado es: {{resultado}}</label>
      </div>
    </div>
  </div>
  
